<app-menu></app-menu>
<div class="p-4">
  <div>
    <div id="request-list">
      <p class="purchase-label">[Purchase Request Approve/Reject]</p>
      <a routerLink="/request-list">Return to List</a>
      <p class="welcome-message">Welcome {{ welcomeName }}!</p>
    </div>
    <div>
      <table *ngIf="request" class="table table-sm table-striped">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Status</th>
          <th>Total</th>
        </thead>
        <tbody>
          <tr>
            <td>{{ reqUserFName }} {{ reqUserLName }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <div [ngSwitch]="lineitems?.length">
      <section class="heading">
        <span class="page-title font-weight-bold font-italic">
          [Line Items]
        </span>
      </section>
      <!--  This is the LIne Items Table  -->

      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Vendor</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>LineTotal</th>
          </tr>
        </thead>
        <p *ngSwitchCase="0">No line items yet. Please create a new one.</p>
        <tbody *ngSwitchDefault>
          <tr *ngFor="let lineitem of lineitems">
            <td *ngIf="lineitem.product?.vendor">
              {{ lineitem.product.vendor.name }}
            </td>
            <td>{{ lineitem.product.name }}</td>
            <td>{{ lineitem.quantity }}</td>
            <td>{{ lineitem.product.price }}</td>
            <td>{{ lineitem.quantity * lineitem.product.price }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="request">
        <button type="button" class="btn btn-success" (click)="approve()">
          Approve
        </button>
        &nbsp;&nbsp;
        <input
          [(ngModel)]="request.reasonForRejection"
          id="reasonForRejection"
          type="text"
          placeholder="Reason for Rejection"
          required
        />
        &nbsp;&nbsp;
        <button
          *ngIf="request.reasonForRejection"
          type="button"
          class="btn btn-danger"
          (click)="reject()"
        >
          Reject
        </button>
      </div>
    </div>
  </div>
</div>
