<app-menu></app-menu>
<div class="p-4">
  <h1>{{ title }}</h1>
  <div>
    <a class="returnToList" routerLink="/user-list">Return to List</a>
    <p class="welcome-message">Welcome {{ welcomeName }}!</p>
  </div>

  <table id="table" class="table table-hover table-striped" *ngIf="user">
    <tr>
      <td>ID</td>
      <td>
        <input [(ngModel)]="user.id" type="text" title="ID" disabled />
      </td>
    </tr>
    <tr>
      <td>Username</td>
      <td>
        <input [(ngModel)]="user.username" type="text" title="Code" required />
      </td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>
        <input
          [(ngModel)]="user.firstName"
          type="text"
          title="first name"
          required
        />
      </td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>
        <input
          [(ngModel)]="user.lastName"
          type="text"
          title="last name"
          required
        />
      </td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td>
        <input
          [(ngModel)]="user.phoneNumber"
          type="text"
          title="user phone"
          required
        />
      </td>
    </tr>
    <tr>
      <td>Email</td>
      <td>
        <input [(ngModel)]="user.email" type="text" title="email" required />
      </td>
    </tr>
    <tr>
      <td>Reviewer</td>
      <td>
        <input
          [(ngModel)]="user.reviewer"
          type="checkbox"
          title="reviewer"
          unchecked
          disabled
        />
      </td>
    </tr>
    <tr>
      <td>Admin</td>
      <td>
        <input
          [(ngModel)]="user.admin"
          type="checkbox"
          title="admin"
          unchecked
          disabled
        />
      </td>
    </tr>

    <td id="button">
      <button class="button" (click)="editUser(user.id)">Save Changes</button>

      |
      <button (click)="delete()" class="btn btn-sm btn-danger">
        Delete User
      </button>
    </td>
  </table>
</div>
