<app-menu></app-menu>
<p>{{ title }} - Request ID: {{ requestId }}</p>
<a [routerLink]="['/request-lineitem/', requestId]"> Return to List</a>
<table>
  <tr>
    <td>
      Product:
      <select [(ngModel)]="newLineitem.productId" title="product">
        <option value="" selected disabled>Select Product</option>
        <option *ngFor="let p of products" [ngValue]="p.id">
          {{ p.name }}
        </option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      Quantity:
      <input
        [(ngModel)]="newLineitem.quantity"
        type="number"
        title="quantity"
      />
    </td>
  </tr>
  <td id="btn-sm">
    <button type="button" class="btn btn-primary" (click)="add()">
      Add Line Item
    </button>
  </td>
</table>
