<app-menu></app-menu>
<div class="p-4">
  <div id="request-list">
    <h1>{{ title }}</h1>
    <a
      class="returnToList"
      [routerLink]="['/request-lineitem/', lineitem.requestId]"
      >Return to List</a
    >

    <p class="welcome-message">Welcome {{ welcomeName }}!</p>
  </div>

  <div>
    <table class="table table-sm table-hover table-striped" *ngIf="lineitem">
      <tbody>
        <tr>
          <td>
            Product:
            <select
              [(ngModel)]="lineitem.productId"
              title="product"
              class="rounded"
            >
              <option value="" selected disabled>Select Product</option>
              <option *ngFor="let p of products" [ngValue]="p.id">
                {{ p.name }}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            Quantity:
            <input
              [(ngModel)]="lineitem.quantity"
              type="number"
              title="quantity"
              class="rounded"
              required
            />
          </td>
        </tr>

        <tr>
          <td id="button">
            <button type="button" class="btn btn-primary" (click)="save()">
              Save LineItem
            </button>
            |
            <button (click)="delete()" class="btn btn-danger">
              Delete LineItem
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
